body{
    text-align: center;
    background-color: #F7F4F3;

}
header{
    
    border-radius: 5px;
    background-color: #5B2333;
    color: #F7F4F3;

}

#footer{
    margin-top: 10px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #564D4A;
    color: white;
}
